

.signup-container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 450px;
}

.signup {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 203px;
}

.file {
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    width:210px;

}

#modal-content{
    border-radius: 10%;
    border: 4px solid rgb(0,224,145);
    box-shadow: 0 0 0 3pt rgb(173, 173, 173);
    top:150px;


}




.errors-signup {
    color: rgb(0, 0, 0);
}

.errorList-signup {
    width: 210px;
}
