.link, .upload {
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: #bebebe;
    text-decoration: none;
    transition: font-size 0.2s;
}

.link:hover {
    color: white;
    font-size: 102%;
}

.clicked {
    color: white;
    font-size: 102%;
}

.upload:hover {
    color: white;
}

.sidebar {
    position: fixed;
    top: 60px;
    background-color: #000000;
    height: 100vh;
    width: 230px;
    z-index: 3;
}

i {
    padding-right: 17px;
    font-size: 20px;
}
