
.sidebar {
    position:absolute;
    top:60px;
}

.link, .upload {
    height: 40px;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    color: #bebebe;
    text-decoration: none;
}

.link:hover {
    color:white;
    font-size: 102%;
}
.upload:hover {
    color:white;
}


.sidebar {
    background-color: #000000;
    height: 90vh;
    width: 230px;
    z-index:1;
}

i {
    padding-right: 17px;
    font-size: 20px;
}
