body {
    font-family: sans-serif;
}

.navbar {
    height: 70px;
    width: 100%;
    background-color: #000000;
    justify-content: center;
    position: fixed;
    z-index: 4;
}

.navbar-list {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0px 0px;
    margin: auto;
}

.seperator {
    border-left: 2px solid white;
    width: 50px;
    font-size: 18px;
}

@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
.navlink {
    color: #d9dadc;
    text-decoration: none;
    font-size: 90%;
    font-weight: 800;
    padding: 0px 20px;
    font-family: 'Mulish', sans-serif;
}

.home {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 200%;
    position: absolute;
    left: 76px;
}

.home:hover {
    color: rgb(177, 177, 177);
}

.login-links {
    width: 95px;
    display: flex;
    flex-direction: row;
}

.navlink:hover {
    color: rgb(177, 177, 177);
}

.login-link:hover {
    color: #00e091;
}

.right-links {
    display: flex;
    width: 30%;
    height: 100%;
    padding: 0px 20px;
    align-items: center;
}

.left-links {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    padding: 0px 0px 0px 100px;
}

.dropdown-container {
    display: flex;
    color: white;
    list-style: none;
    width: 30px;
    align-items: center;
}

.profile {
    right: 70px;
}
