.profile-list-item{
    list-style: none;
}

.button_container {
     display: flex;
    color: white;
    font-size: 12px;
    position:fixed;
    top: 12px;
}

.dropdown-button{
    width:35px;
    height:30px;
    /* border-radius: 10px; */
}


/* .circle {
    width:10px;
    border-radius: 50px;
} */
