li {
    list-style: none;
}

.button_container {
     display: flex;
     flex-direction: column;
    color: white;
    justify-content: center;
    position: relative;
    font-size: 12px;
    right:30px;
}
